.DropDown {
    position: absolute;
    top: 7.5rem;
    right: 2rem;
    width: 130px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    z-index: 2;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.408);
}

.DropDown::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 2rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.DropDownUl li {
    list-style: none;
    padding: 7px;
}

.DropDownUl {
    padding: 0;
}