.NavDesplegable {
    width: 10%;
    height: 20px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    position: fixed;
    left: 40%;
    z-index: 1;
    top: -10px;
    
}

.NavDesplegable:hover{
    transition: 0.4s;
    transform: scale(1.5);
    cursor: pointer;
  
}

nav {
    background-color: black;
    margin-top: 20px;
    border-radius: 25px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav > ul > li {
    float: left;
    color: black;
    padding: 0 35%;
}

li:hover {
    color: white;
}

.MenuDropUl img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding-right: 10px;
}

.MenuDrop {
    background-color: #495579;
    position: absolute;
    border-radius: 20px;
    width: 280px;
    font-size: 25px;
    left: 38%;
    top: 35px;
    z-index: 2;
    position: fixed;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
    
}

.MenuDropUl li {
    list-style: none;
    width: 250px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.MenuDropUl li:hover{
    background-color: #395B64;
}

.MenuDropUl {
    padding: 0;

}